{% extends "base.html" %}
{% block title %} Annonces En Attente {% endblock %}

{% block content %}
        {% for cat in categorys %}
        <h5 class="w-100 bg-light p-2 mt-1">{{ cat.name }}</h5>
        <div class="p-4 d-flex align-items-center gap-5">
            {% for an in cat.annonce_set.all %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ an.image.url }}" alt=" {{ an.titre }} ">

                    <div class="card-body">
                        <h5 class="card-title">{{ an.titre }}</h5>
                        <p class="card-text"> {{ an.description }} </p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Prix : {{ an.prix }} </li>
                        <li class="list-group-item">Status : {{ an.status }} </li>
                    </ul>

                    <div class="card-body">
                        <a href="{% url 'details_annonce' an.id %}" class="card-link">Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <h3 class="alert alert-info">Il n'y a pas des annonces valide</h3>
    {% endfor %}
{% endblock %}